.page-footer__wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  text-align: center;
}
