.reason {
  margin-top: 38px;
}

.reasons__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
